<!-- Deze template is bedoeld voor het tonen van berichten -->

<div id="message-container">
	<div id="title-container">
		<span class="message-title">{{msg.title}}</span>
	</div>
	<div class="row" id="msg-area">
		<div (click)="onLeftClick()" class="col-md-1 msgbutton" id="leftbutton">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>
		<div class="col-md-10" id="msgbody">
			{{msg.text}}
		</div>
		<div (click)="onRightClick()" class="col-md-1 msgbutton" id="rightbutton">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</div>
	</div>
</div>
