<!-- Deze template is bedoeld voor het tonen van berichten -->

<div id="message-container">
	<div id="title-container">
		<span class="message-title">{{msg.title}}</span>
	</div>
	<div class="row" id="msg-area">
		<div class="col-md-1 msgbutton" id="leftbutton">
			<span class="glyphicon glyphicon-chevron-left" />
		</div>
		<div class="col-md-10" id="msgbody">
		</div>
		<div class="col-md-1 msgbutton" id="rightbutton">
			<span class="glyphicon glyphicon-chevron-right" />
		</div>
	</div>
</div>
