
body {
	margin: 0px;
	background: url("../afbeeldingen/blank.JPG") no-repeat center center fixed;
	background-size: cover;
}

#contentbox {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background-color: rgba(255, 255, 255, 0.7);
	h1 {
		text-align: center;
	}
}


#innerbox {
	.messagetitle {
		font-size: 18pt;
	}
	
	position: relative;
	padding-left: 5%;
	
	
	font-family: 'Arial';
}
