
body {
	margin: 0px;
}

#topbox {
	background: url("../afbeeldingen/blank.JPG") no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	
}

#contentbox {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	
}

#innerbox {
	position: relative;
	top: 25%;
	
	font-family: 'Arial';
	font-size: 20pt;
}
